.idea
build/
app/rapidpro/
.gradle
*.iml
gradle-app.setting
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
!packs/local.properties

# Keystore files
*.jks

# keys config
keystore.properties

# google services config
google-services.json