.idea
.DS_Store
build/
app/rapidpro/
.gradle
*.iml
gradle-app.setting

# Local configuration file (sdk path, etc)
local.properties
!packs/local.properties

# Keystore files
*.jks
keystore.properties

# google services config
google-services.json